In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals, unicode_literals

import pathlib
from openpyxl import Workbook  
import openpyxl
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import xlrd
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
emp1=pd.ExcelFile(r'C:\Users\LG\Desktop\Yungun\RE\Result_without_voltage_500.xlsx')
dataset=emp1.parse('Sheet1')
dataset

     Metro  Yungnam  Chungnam  Honam  Gangwon  Frequency
0      821      573       959    785      825  59.832407
1      676      644       538    678      969  59.839662
2      518      907       665    852      937  59.872476
3      572      653       545    798      900  59.837070
4      546      772       834    629      567  59.818859
..     ...      ...       ...    ...      ...        ...
495    585      859       615    649      809  59.839381
496    751      596       771    907      738  59.878980
497    941      924       996    925      650  59.773433
498    999      993       672    543      692  59.873778
499    512      950       560    966      567  59.839155

[500 rows x 6 columns]

In [3]:
train_dataset = dataset.sample(frac=0.8,random_state=0) #80퍼센트 정보를 랜덤하게 가져옴
test_dataset = dataset.drop(train_dataset.index)

In [4]:
train_labels = train_dataset.pop('Frequency') #Frequency
test_labels = test_dataset.pop('Frequency')

In [5]:
train_labels

90     59.873144
254    59.816628
283    59.845019
445    59.927767
461    59.759713
         ...
279    59.769125
227    59.796107
148    59.859547
143    59.833845
334    59.817907
Name: Frequency, Length: 400, dtype: float64

In [10]:
x = train_labels.reshape(1,400)

AttributeError: 'Series' object has no attribute 'reshape'

In [12]:
x

90     59.873144
254    59.816628
283    59.845019
445    59.927767
461    59.759713
         ...
279    59.769125
227    59.796107
148    59.859547
143    59.833845
334    59.817907
Name: Frequency, Length: 400, dtype: float64